.App {
  width: 100%;
  height: 100%;
  display: flex; /* Use flexbox for a robust layout */
}

.heatmap-container {
  flex-grow: 1; /* This makes the container expand to fill all available space */
}

.heatmap-container svg {
  width: 100%;
  height: 100%;
}

.back-button {
  display: inline-block;
  margin: 20px;
  padding: 10px 15px;
  background-color: #444;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-family: sans-serif;
}

.back-button:hover {
  background-color: #555;
}

.stock-detail-page {
  padding: 2rem;
  color: white;
}

.chart-container {
  width: 90%; /* Use 90% of the page width */
  max-width: 1400px; /* Set a max width for very large screens */
  margin: 2rem auto; /* Center the chart on the page */
}